In [6]:
import numpy as np
import pandas as pd
import datetime
from uniqueness import uniqueShap

This notebook contains sample code to calculate the Uniqueness Shapley values for the solar flare example described in https://arxiv.org/abs/2105.08013 Seiler, Mase, & Owen "What Makes You Unique?"

In [2]:
flare = pd.read_csv('data/flare.csv',index_col=0) #flare.data2 from https://archive.ics.uci.edu/ml/datasets/Solar+Flare recoded such that features levels are consecutive integer values starting with one.

In [16]:
flare.head()

,Zurich,Large_Spot,Spot_Dist,Activity,Evolution,Prev_Activity,Complex,This_Pass,Area
1,6,1,4,1,3,1,1,1,1
2,3,4,3,1,3,1,1,2,1
3,2,5,3,1,3,1,1,2,1
4,6,4,4,1,2,1,1,1,1
5,6,5,4,1,1,1,1,2,1

In [3]:
start = datetime.datetime.now()
flare_shap = uniqueShap(flare)
finish = datetime.datetime.now()
print(finish-start)

We can see that the results below yield the second column in table 3.

In [12]:
np.round(np.mean(flare_shap,axis=0),2)

array([1.37, 1.55, 0.92, 0.45, 1.17, 0.16, 0.77, 0.35, 0.07])