In [1]:
import numpy as np
import pandas as pd
import datetime
from uniquenessshapley import uniqueness as us
from uniquenessshapley import dataset

This notebook contains sample code to calculate the Uniqueness Shapley values for the solar flare and North Carolina Dare county examples described in https://arxiv.org/abs/2105.08013 Seiler, Mase, & Owen "What Makes You Unique?"

In [2]:
flare = dataset.Flare() #loading the Solar Flare Data from https://archive.ics.uci.edu/ml/datasets/Solar+Flare

In [3]:
flare.head()

,Zurich,Large_Spot,Spot_Dist,Activity,Evolution,Prev_Activity,Complex,This_Pass,Area
0,H,A,X,1,3,1,1,1,1
1,D,R,O,1,3,1,1,2,1
2,C,S,O,1,3,1,1,2,1
3,H,R,X,1,2,1,1,1,1
4,H,S,X,1,1,1,1,2,1

Now we calculate the Uniqueness Shapley values for the Solar Flare data.

In [4]:
start = datetime.datetime.now()
flare_shap = us.uniqueShap(flare)
finish = datetime.datetime.now()
print(finish-start)

0:00:03.936757

We can see that the results below yield the second column in table 3.

In [5]:
np.round(np.mean(flare_shap,axis=0),2)

array([1.37, 1.55, 0.92, 0.45, 1.17, 0.16, 0.77, 0.35, 0.07])

Similarly, we can look at Dare County from the North Carolina voter registration data.  Note that this data is periodically updated to the results may not perfectly match those in the paper.  For the exact voter records used, please contact the authors.

In [6]:
dare = dataset.NC_Dare()

In [7]:
dare.head()

   zip_code race_code party_cd gender_code  age_at_year_end
0     27943         W      REP           M               53
2     27943         W      UNA           M               27
3     27943         W      UNA           F               56
4     27959         W      UNA           M               65
5     27959         W      REP           F               69

In [8]:
start = datetime.datetime.now()
dare_shap = us.uniqueShap(dare)
finish = datetime.datetime.now()
print(finish-start)

0:00:01.634040

In [9]:
np.round(np.mean(dare_shap,axis=0),2)

array([2.7 , 0.44, 1.51, 1.1 , 5.92])